ion-content.background{
    --background: url(../../assets/imgs/2.png) 0 0/100% 100% no-repeat; /* aqui colocamos la imagen que va 
    en el fondo de la pagina*/
  }

  ion-grid.grid-container{ /* aqui va algunos ajustes de la distancia entre cada boton*/
    display: grid;
    height: 400px;
    justify-content: center;
    grid-gap: 25px 50px;
  }