<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start" >
      <ion-menu-button color="success" >
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cull App
    </ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content  padding class="background"> <!-- se coloca la imagen de fondo-->
  

  <!--<div id="container">
    <strong class="capitalize">Kristel</strong>
    <p>TCU <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=b3GyAtcoogc">Ara</a></p>
  </div>-->



</ion-content>

<!-- aqui basicamente va la pagina principal, lo primero que se ve-->
