<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="folder/Inbox" text="Atras"></ion-back-button>
    </ion-buttons>
    <ion-title><h1>Horarios</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="success" > 
  <ion-card color="danger">
    
    <ion-item color="tertiary">
      <ion-icon name="pin-outline" slot="start" ></ion-icon>
      <ion-label>Horario de Miramar</ion-label>
    </ion-item>
  
    <ion-card-content >
      <img src="assets/imgs/15.jpeg"/>
    </ion-card-content>
  </ion-card>
  
  <ion-card color="danger">
    <ion-item color="tertiary">
      <ion-icon name="flame-outline" slot="start" ></ion-icon>
      <ion-label >Horario de Esparza</ion-label>
    </ion-item>
  
    <ion-card-content>
      <img src="assets/imgs/17.jpeg"/>
    </ion-card-content>
  </ion-card>

  <ion-card color="danger">
    <ion-item color="tertiary">
      <ion-icon name="thumbs-up-outline" slot="start" ></ion-icon>
      <ion-label >INOLASA</ion-label>
    </ion-item>
  
    <ion-card-content>
      <img src="assets/imgs/19.jpeg"/>
    </ion-card-content>
  </ion-card>

</ion-content>