


ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #77b255));
}


ion-menu.md ion-content {
  --padding-bottom: 20px;
   
}

ion-menu.md ion-list {
  padding: 20px 0 0 0;

}



ion-menu.md ion-list-header{
  padding-left: 10px;
}
ion-menu.md ion-list#inbox-list {
  border-bottom: 2px solid var(--ion-color-step-150, #826e42);
}



ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;
  min-height: 20px;
  
}


ion-menu.md ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  border-radius: 4px;
  --min-height: 80px;
}


ion-menu.md ion-item ion-icon {
  font-size: 24px;
  color:#3e721d;
 
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}



ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 80px;
}



ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color:#3e721d;
 
}


ion-menu.ios ion-list-header{
  padding-left: 10px;
 
}
ion-menu.ios ion-list#inbox-list {
  border-bottom: 2px solid var(--ion-color-step-150, #826e42);
}

ion-menu.ios ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;
  min-height: 20px;
  
}


ion-menu.ios ion-note {
  margin-bottom: 8px;
}



ion-item.selected {
  --color: var(--ion-color-danger);
}


