<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="folder/Inbox" text="Atras"></ion-back-button>
    </ion-buttons>
    <ion-title color="success">Paginas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="success" > 
  <ion-card color="danger"> <!--Pagina#1-->
    
    <ion-item color="tertiary">
      <ion-icon name="pin-outline" slot="start" ></ion-icon>
      <ion-label>Ecobloques</ion-label>
      <ion-button slot="end"  target="_blank" rel="noopener noreferrer" 
       href="https://www.gruporabsa.com/publicaciones/novedades/ecobloques-apuntate-a-esta-iniciativa" >
        <ion-text >
          <h5>Ir</h5>
        </ion-text>
      </ion-button>
    </ion-item>
  
    <ion-card-content >
      <img src="assets/imgs/11.jpg"/>

      <ion-text>
        Un innovador método de reciclaje, llamado ecobloque, 
        poco a poco comienza a tomar popularidad entre los costarricenses y los centros de acopio.
        Los ecobloques consisten en botellas de plástico de entre 1,5 y 2,5 litros 
        que contienen todo tipo de residuos que no son reciclables o recibidos por centros de acopio.
  
      </ion-text>
      
    </ion-card-content>
  </ion-card>
  
  <ion-card color="danger"> <!--Pagina#2-->
    <ion-item color="tertiary">
      <ion-icon name="flame-outline" slot="start" ></ion-icon>
      <ion-label >¿Dónde tiro los guantes y la mascarilla después de usarlos?</ion-label>
      <ion-button  slot="end"  target="_blank" rel="noopener noreferrer" 
       href="https://www.consumer.es/medio-ambiente/donde-tirar-mascarilla-guantes-usados.html" >
        <ion-text >
          <h5>Ir</h5>
        </ion-text>
      </ion-button>
    </ion-item>
  
    <ion-card-content>
      <img src="assets/imgs/12.jpg"/>
      <ion-text>
        Las mascarillas quirúrgicas y los filtros de las mascarillas de tela deben
        depositarse en el contenedor de descarte, que es de color gris o verde según 
        el municipio, preferiblemente dentro de una bolsa independiente, hasta que exista
        una política de gestión de residuos o la posibilidad de reciclar mascarillas
      </ion-text>
    
    </ion-card-content>
  </ion-card>


  <ion-card color="danger"> <!--Pagina#3-->
    <ion-item color="tertiary">
      <ion-icon name="save-outline" slot="start" ></ion-icon>
      <ion-label>Rutas Municipalidad de Esparza</ion-label>
      <ion-button  slot="end"  target="_blank" rel="noopener noreferrer" 
        href="https://muniesparza.go.cr/articulo/290/rutas" >
        <ion-text >
          <h5>Ir</h5>
        </ion-text>
      </ion-button>
    </ion-item>
  
    <ion-card-content>
      <img src="assets/imgs/13.jpg"/>
      <ion-text> 
        La Municipalidad de Esparza cuenta en este momento con un Programa 
        de Reciclaje, el cual inicio como proyecto de recolección de residuos 
        sólidos desde el  06 de mayo del 2006 es un programa de recolección selectiva 
        de residuos sólidos reciclables.

      </ion-text>
      

    </ion-card-content>
  </ion-card>

  <ion-card color="danger"> <!--Pagina#4-->
    <ion-item color="tertiary">
      <ion-icon name="prism-outline" slot="start" ></ion-icon>
      <ion-label>Municipalidad de Puntarenas</ion-label>
      <ion-button  slot="end"  target="_blank" rel="noopener noreferrer" 
       href="http://www.puntarenas.go.cr/index.php?option=com_content&view=article&id=129&Itemid=258" >
        <ion-text >
          <h5>Ir</h5>
        </ion-text>
      </ion-button>
    </ion-item>
  
    <ion-card-content >
      <img src="assets/imgs/14.png"/>
      <ion-text>
        En la Municipalidad de Puntarenas mediante el Plan de Gestión Ambiental Institucional se 
        iniciará con el reciclaje a mediados de marzo.
        También en el Solaron hay un pequeño centro de acopio donde se 
        reciben los residuos separados de la comunidad y se tiene el Plan de que todas las comunidades 
        comiencen con la separación de los residuos.

      </ion-text>

      
    </ion-card-content>
  </ion-card>

</ion-content>
