<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="folder/Inbox" text="Atras"></ion-back-button>
    </ion-buttons>
    <ion-title><h1>Papel y Cartón</h1></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class = "background">
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="tertiary">
      <ion-tab-button tab="schedule" (click)="irpapelif()">
        <ion-icon name="search-circle-outline" size="large"></ion-icon>
        <ion-label>Buscar</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>