<ion-header><!-- aqui es la parte de arriba donde indica el titulo-->
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="folder/Inbox" text="Atras"></ion-back-button>
    </ion-buttons>
    <ion-title><h1>Metal</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background"> <!-- aqui colocamos la imagen de atras-->
  <ion-tabs >
    <ion-tab-bar slot="bottom" color="warning">
      <ion-tab-button tab="schedule" (click)="irmetalif()"> <!-- redirecciona a la pagina de la lista de producctos de metal-->
        <ion-icon name="search-circle-outline" size="large"></ion-icon>
        <ion-label>Buscar</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
